* {
   margin: 0;
   padding: 0;
}

body {

}

nav {
   display: flex;
   justify-content: space-around;
   /* padding: 20px 0; */
   background-color: #CD104D;
   color: #EAF6F6;
   height: 50px;
   align-items: center;
}

nav .logo {
   font-family: 'Alfa Slab One', cursive;
   letter-spacing: 2px;
   color: #16213E;
}

nav ul {
   display: flex;
   list-style: none;
   width: 40%;
   justify-content: space-between;
}

nav ul li a {
   font-family: 'Dangrek', cursive;
   color: #EAF6F6;
   text-decoration: none;
}

nav ul li a:hover {
   color: #ABD9FF;
}


/* Menu-Toggle */
.menu-toggle {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 15px;
   position: relative;
}

.menu-toggle span {
   display: block;
   width: 28px;
   height: 3px;
   background-color: #16213E;
   border-radius: 2px;
}


.menu-toggle .input {
   position: absolute;
   width: 35px;
   height: 27px;
   opacity: 0;
   left: -3px;
   top: -5px;
   cursor: pointer;
}


/* Screen Media With Phone */

/* Ukuran Tablet & Landscape */
@media screen and (max-width: 786px) {
   nav ul {
      width: 50%;
   }
}

/* Ukuran Handphone */
@media screen and (max-width: 576px) {
   nav ul {
      display: none;
   }
}